<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shms.manager.service.ManagerMapper">
    <resultMap id="managerResultMap" type="com.shms.manager.service.Manager">
        <result column="EMP_NUM" property="empNum" />
        <result column="PASSWORD" property="password" />
        <result column="NAME" property="name" />
        <result column="PHONE_NUM" property="phoneNum" />
        <result column="JOB" property="job" />
        <result column="THE_FST_RGST_DTTM" property="theFstRgstDttm" />
        <result column="THE_FST_RGST_USERID" property="theFstRgstUserId" />
        <result column="FNL_CHNG_DTTM" property="fnlChngDttm" />
        <result column="FNL_CHNG_USERID" property="fnlChngUserId" />
    </resultMap>
    
    <resultMap id="loginCommandResultMap" type="com.shms.login.service.LoginCommand">
        <result column="EMP_NUM" property="empNum" />
        <result column="PASSWORD" property="password" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="empNum != null and empNum != ''">
                AND EMP_NUM = #{empNum}
            </if>
            <if test="password != null and password != ''">
                AND PASSWORD = #{password}
            </if>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                AND PHONE_NUM = #{phoneNum}
            </if>
            <if test="job != null and job != ''">
                AND JOB = #{job}
            </if>
            <if test="theFstRgstDttm != null and theFstRgstDttm != ''">
                AND THE_FST_RGST_DTTM = #{theFstRgstDttm}
            </if>
            <if test="theFstRgstUserId != null and theFstRgstUserId != ''">
                AND THE_FST_RGST_USERID = #{theFstRgstUserId}
            </if>
            <if test="fnlChngDttm != null and fnlChngDttm != ''">
                AND FNL_CHNG_DTTM = #{fnlChngDttm}
            </if>
            <if test="fnlChngUserId != null and fnlChngUserId != ''">
                AND FNL_CHNG_USERID = #{fnlChngUserId}
            </if>
        </where>
    </sql>
    
    <select id="count" parameterType="com.shms.manager.service.Manager" resultType="int">
        SELECT COUNT(*)
          FROM MANAGER
        <include refid="whereSql" />
    </select>

	<select id="list" resultMap="managerResultMap">
        SELECT EMP_NUM
             , PASSWORD
             , NAME
             , PHONE_NUM
             , JOB
             , THE_FST_RGST_DTTM
             , THE_FST_RGST_USERID
             , FNL_CHNG_DTTM
             , FNL_CHNG_USERID
          FROM MANAGER
         WHERE IS_DELETE = 'N'
    </select>

    <select id="select" parameterType="com.shms.manager.service.Manager" resultMap="managerResultMap">
        SELECT EMP_NUM
             , PASSWORD
             , NAME
             , PHONE_NUM
             , JOB
             , THE_FST_RGST_DTTM
             , THE_FST_RGST_USERID
             , FNL_CHNG_DTTM
             , FNL_CHNG_USERID
          FROM MANAGER
        <include refid="whereSql" />
    </select>
    
    <select id="selectByEmpNum" parameterType="String" resultMap="managerResultMap">
        SELECT EMP_NUM
             , PASSWORD
             , NAME
             , PHONE_NUM
             , JOB
             , THE_FST_RGST_DTTM
             , THE_FST_RGST_USERID
             , FNL_CHNG_DTTM
             , FNL_CHNG_USERID
          FROM MANAGER
          WHERE EMP_NUM = #{empNum}
    </select>

    <insert id="insert" parameterType="com.shms.manager.service.Manager">
        INSERT INTO MANAGER (
              EMP_NUM
            , PASSWORD
            , NAME
            , PHONE_NUM
            , JOB
            , IS_DELETE
            , THE_FST_RGST_DTTM
            , THE_FST_RGST_USERID
            , FNL_CHNG_DTTM
            , FNL_CHNG_USERID
        ) VALUES (
              #{empNum}
            , #{password}
            , #{name}
            , #{phoneNum}
            , #{job}
            , 'N'
            , now()
            , #{theFstRgstUserId}
            , now()
            , #{fnlChngUserId}
        )
    </insert>

    <update id="update" parameterType="com.shms.manager.service.Manager">
        UPDATE MANAGER
        <set>
            <if test="empNum != null and empNum != ''">
                EMP_NUM = #{empNum},
            </if>
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                PHONE_NUM = #{phoneNum},
            </if>
            <if test="job != null and job != ''">
                JOB = #{job},
            </if>
                FNL_CHNG_DTTM = now()
              , FNL_CHNG_USERID = #{fnlChngUserId}
        </set>
        WHERE EMP_NUM = #{empNum}
    </update>
    
    <delete id="delete" parameterType="com.shms.manager.service.Manager">
        UPDATE MANAGER
           SET IS_DELETE = 'Y'
         WHERE EMP_NUM = #{empNum}
    </delete>
    
    <update id="resetPw" parameterType="com.shms.manager.service.Manager">
        UPDATE MANAGER
        <set>
        	PASSWORD = #{password}
          , FNL_CHNG_DTTM = now()
          , FNL_CHNG_USERID = #{fnlChngUserId}
        </set>
        WHERE EMP_NUM = #{empNum}
    </update>
</mapper>