<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shms.wearlog.service.WearLogMapper">
	<resultMap id="workerResultMap" type="com.shms.worker.service.Worker">
        <result column="WORKER_NUM" property="workerNum" />
        <result column="EMP_NUM" property="empNum" />
        <result column="NAME" property="name" />
        <result column="CARD_NUM" property="cardNum" />
        <result column="PHONE_NUM" property="phoneNum" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="THE_FST_RGST_DTTM" property="theFstRgstDttm" />
        <result column="THE_FST_RGST_USERID" property="theFstRgstUserId" />
        <result column="FNL_CHNG_DTTM" property="fnlChngDttm" />
        <result column="FNL_CHNG_USERID" property="fnlChngUserId" />
    </resultMap>
    
    <resultMap id="wearLogResultMap" type="com.shms.wearlog.service.WearLog">
        <result column="CODE" property="code" />
        <result column="HAT_CODE" property="hatCode" />
        <result column="GATEWAY_CODE" property="gatewayCode" />
        <result column="WORKER_NUM" property="workerNum" />
        <result column="RECORD_TIME" property="recordTime" />
        <result column="IS_WEAR" property="isWear" />
        <result column="LATITUDE" property="latitude" />
        <result column="LONGITUDE" property="longitude" />
        <collection property="worker" resultMap="workerResultMap"/>
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="code != null and code != ''">
                AND CODE = #{code}
            </if>
            <if test="hatCode != null and hatCode != ''">
                AND HAT_CODE = #{hatCode}
            </if>
            <if test="gatewayCode != null and gatewayCode != ''">
                AND GATEWAY_CODE = #{gatewayCode}
            </if>
            <if test="workerNum != null and workerNum != ''">
                AND WORKER_NUM = #{workerNum}
            </if>
            <if test="recordTime != null and recordTime != ''">
                AND RECORD_TIME = #{recordTime}
            </if>
            <if test="isWear != null and isWear != ''">
                AND IS_WEAR = #{isWear}
            </if>
            <if test="latitude != null and latitude != ''">
                AND LATITUDE = #{latitude}
            </if>
            <if test="longitude != null and longitude != ''">
                AND LONGITUDE = #{longitude}
            </if>
        </where>
    </sql>
    
    <sql id="whereSqlWorker">
        <where>
        	<if test="workerNum != null and workerNum != ''">
                AND WORKER_NUM = #{workerNum}
            </if>
            <if test="empNum != null and empNum != ''">
                AND EMP_NUM = #{empNum}
            </if>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="cardNum != null and cardNum != ''">
                AND CARD_NUM = #{cardNum}
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                AND PHONE_NUM = #{phoneNum}
            </if>
            <if test="isDelete != null and isDelete != ''">
                AND IS_DELETE = #{isDelete}
            </if>
        </where>
    </sql>
    
    <select id="count" parameterType="com.shms.wearlog.service.WearLog" resultType="int">
        SELECT COUNT(*)
        FROM WEAR_LOG
        <include refid="whereSql" />
    </select>
	
	<!-- 모니터링 시 당일 근로자 최신 기록 -->
	<select id="monitoring" resultMap="wearLogResultMap">
       SELECT L.CODE
            , L.HAT_CODE
            , L.GATEWAY_CODE
            , L.WORKER_NUM
            , L.RECORD_TIME
            , L.IS_WEAR
            , L.LATITUDE
            , L.LONGITUDE
            , W.NAME
            , W.PHONE_NUM
        FROM WEAR_LOG L JOIN WORKER W
        ON L.WORKER_NUM = W.WORKER_NUM
        WHERE L.RECORD_TIME IN (SELECT MAX(L.RECORD_TIME) AS RECORD_TIME 
        				          FROM WEAR_LOG L JOIN WORKER W
       					            ON L.WORKER_NUM = W.WORKER_NUM
       					         WHERE DATE_FORMAT(L.RECORD_TIME, '%Y%m%d') = DATE_FORMAT(SYSDATE(), '%Y%m%d') 
       					         GROUP BY W.NAME)
    </select>
	
	<!-- 착용 기록 조회 -->
	<select id="list" resultMap="wearLogResultMap">
        SELECT L.CODE
			 , L.HAT_CODE
			 , L.GATEWAY_CODE
			 , L.WORKER_NUM
			 , L.RECORD_TIME
			 , L.IS_WEAR
			 , L.LATITUDE
			 , L.LONGITUDE
			 , W.NAME
			 , W.PHONE_NUM
		FROM WEAR_LOG L JOIN WORKER W
		ON L.WORKER_NUM = W.WORKER_NUM
		WHERE 1=1
    </select>
    
    <!-- 착용 기록 상세 조회 -->
    <select id="viewWearLog" parameterType="com.shms.wearlog.service.WearLog" resultMap="wearLogResultMap">
        SELECT 
        	L.CODE
            , L.HAT_CODE
            , L.GATEWAY_CODE
            , L.WORKER_NUM
            , L.RECORD_TIME
            , L.IS_WEAR
            , L.LATITUDE
            , L.LONGITUDE
            , W.NAME
            , W.PHONE_NUM
        FROM WEAR_LOG L JOIN WORKER W
        ON L.WORKER_NUM = W.WORKER_NUM
        WHERE L.WORKER_NUM = #{workerNum}
        AND DATE_FORMAT(L.RECORD_TIME, '%Y%m%d') = DATE_FORMAT(#{recordTime}, '%Y%m%d')
    </select>
    
    <select id="searchWearLog" parameterType="String" resultMap="wearLogResultMap">
        SELECT 
        	L.CODE
            , L.HAT_CODE
            , L.GATEWAY_CODE
            , L.WORKER_NUM
            , L.RECORD_TIME
            , L.IS_WEAR
            , L.LATITUDE
            , L.LONGITUDE
            , W.NAME
            , W.PHONE_NUM
        FROM WEAR_LOG L JOIN WORKER W
        ON L.WORKER_NUM = W.WORKER_NUM
        WHERE W.NAME LIKE '%${name}%'
        ORDER BY L.TIME DESC
    </select>

    <select id="select" parameterType="com.shms.wearlog.service.WearLog" resultMap="wearLogResultMap">
        SELECT
            CODE
            , HAT_CODE
            , GATEWAY_CODE
            , WORKER_NUM
            , RECORD_TIME
            , IS_WEAR
            , LATITUDE
            , LONGITUDE
        FROM WEAR_LOG
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="com.shms.wearlog.service.WearLog">
        INSERT INTO WEAR_LOG (
            CODE
            , HAT_CODE
            , GATEWAY_CODE
            , WORKER_NUM
            , RECORD_TIME
            , IS_WEAR
            , LATITUDE
            , LONGITUDE
        ) VALUES (
            #{code}
            , #{equipmentCode}
            , #{workerNum}
            , #{recordTime}
            , #{isWear}
            , #{latitude}
            , #{longitude}
        )
    </insert>

    <update id="update" parameterType="com.shms.wearlog.service.WearLog">
        UPDATE WEAR_LOG
        <set>
            <if test="code != null and code != ''">
                CODE = #{code},
            </if>
            <if test="hatCode != null and hatCode != ''">
                HAT_CODE = #{hatCode},
            </if>
            <if test="gatewayCode != null and gatewayCode != ''">
                GATEWAY_CODE = #{gatewayCode},
            </if>
            <if test="workerNum != null and workerNum != ''">
                WORKER_NUM = #{workerNum},
            </if>
            <if test="recordTime != null and recordTime != ''">
                RECORD_TIME = #{recordTime},
            </if>
            <if test="isWear != null and isWear != ''">
                IS_WEAR = #{isWear},
            </if>
            <if test="latitude != null and latitude != ''">
                LATITUDE = #{latitude},
            </if>
            <if test="longitude != null and longitude != ''">
                LONGITUDE = #{longitude},
            </if>
        </set>
        WHERE CODE = #{code}
    </update>
    
    <delete id="delete" parameterType="com.shms.wearlog.service.WearLog">
        DELETE FROM WEAR_LOG
        <include refid="whereSql" />
    </delete>
</mapper>