<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shms.wearlog.service.WearLogMapper">
	<resultMap id="workerResultMap" type="com.shms.worker.service.Worker">
        <result column="WORKER_NUM" property="workerNum" />
        <result column="EMP_NUMBER" property="empNumber" />
        <result column="NAME" property="name" />
        <result column="CARD_NUM" property="cardNum" />
        <result column="PHONE_NUM" property="phoneNum" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="THE_FST_RGST_DTTM" property="theFstRgstDttm" />
        <result column="THE_FST_RGST_USERID" property="theFstRgstUserId" />
        <result column="FNL_CHNG_DTTM" property="fnlChngDttm" />
        <result column="FNL_CHNG_USERID" property="fnlChngUserId" />
    </resultMap>
    
    <resultMap id="wearLogResultMap" type="com.shms.wearlog.service.WearLog">
        <result column="CODE" property="code" />
        <result column="EQUIPMENT_CODE" property="equipmentCode" />
        <result column="WORKER_NUM" property="workerNum" />
        <result column="RECODE_TIME" property="recodeTime" />
        <result column="IS_WEAR" property="isWear" />
        <result column="LATITUDE" property="latitude" />
        <result column="LONGITUDE" property="longitude" />
        <collection property="worker" resultMap="workerResultMap"/>
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="code != null and code != ''">
                AND CODE = #{code}
            </if>
            <if test="equipmentCode != null and equipmentCode != ''">
                AND EQUIPMENT_CODE = #{equipmentCode}
            </if>
            <if test="workerNum != null and workerNum != ''">
                AND WORKER_NUM = #{workerNum}
            </if>
            <if test="recodeTime != null and recodeTime != ''">
                AND RECODE_TIME = #{recodeTime}
            </if>
            <if test="isWear != null and isWear != ''">
                AND IS_WEAR = #{isWear}
            </if>
            <if test="latitude != null and latitude != ''">
                AND LATITUDE = #{latitude}
            </if>
            <if test="longitude != null and longitude != ''">
                AND LONGITUDE = #{longitude}
            </if>
        </where>
    </sql>
    
    <sql id="whereSqlWorker">
        <where>
        	<if test="workerNum != null and workerNum != ''">
                AND WORKER_NUM = #{workerNum}
            </if>
            <if test="empNumber != null and empNumber != ''">
                AND EMP_NUMBER = #{empNumber}
            </if>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="cardNumber != null and cardNumber != ''">
                AND CARD_NUMBER = #{cardNumber}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND PHONE_NUMBER = #{phoneNumber}
            </if>
            <if test="isDelete != null and isDelete != ''">
                AND IS_DELETE = #{isDelete}
            </if>
        </where>
    </sql>
    
    <select id="count" parameterType="com.shms.wearlog.service.WearLog" resultType="int">
        SELECT COUNT(*)
        FROM WEAR_LOG
        <include refid="whereSql" />
    </select>

	<select id="list" resultMap="wearLogResultMap">
        SELECT 
        	L.CODE
            , L.EQUIPMENT_CODE
            , L.WORKER_NUM
            , L.RECODE_TIME
            , L.IS_WEAR
            , L.LATITUDE
            , L.LONGITUDE
            , W.NAME
            , W.PHONE_NUMBER
        FROM WEAR_LOG L JOIN WORKER W
        ON L.WORKER_NUM = W.WORKER_NUM
        WHERE L.RECODE_TIME IN (SELECT MAX(L.RECODE_TIME) AS RECODE_TIME 
        				 FROM WEAR_LOG L JOIN WORKER W
       					 ON L.WORKER_NUM = W.WORKER_NUM 
       					 WHERE DATE_FORMAT(L.RECODE_TIME, '%Y%m%d') = DATE_FORMAT(SYSDATE(), '%Y%m%d') 
       					 GROUP BY W.NAME)
    </select>
    
    <select id="viewWearLog" parameterType="com.shms.wearlog.service.WearLog" resultMap="wearLogResultMap">
        SELECT 
        	L.CODE
            , L.EQUIPMENT_CODE
            , L.WORKER_NUM
            , L.RECODE_TIME
            , L.IS_WEAR
            , L.LATITUDE
            , L.LONGITUDE
            , W.NAME
            , W.PHONE_NUMB
        FROM WEAR_LOG L JOIN WORKER W
        ON L.WORKER_NUM = W.WORKER_NUM
        WHERE L.WORKER_NUM = #{workerNum}
        AND DATE_FORMAT(L.RECODE_TIME, '%Y%m%d') = DATE_FORMAT(#{recodeTime}, '%Y%m%d')
    </select>
    
    <select id="searchWearLog" parameterType="String" resultMap="wearLogResultMap">
        SELECT 
        	L.CODE
            , L.EQUIPMENT_CODE
            , L.WORKER_NUM
            , L.RECODE_TIME
            , L.IS_WEAR
            , L.LATITUDE
            , L.LONGITUDE
            , W.NAME
            , W.PHONE_NUMB
        FROM WEAR_LOG L JOIN WORKER W
        ON L.WORKER_NUM = W.WORKER_NUM
        WHERE W.NAME LIKE '%${name}%'
        ORDER BY L.TIME DESC
    </select>

    <select id="select" parameterType="com.shms.wearlog.service.WearLog" resultMap="wearLogResultMap">
        SELECT
            CODE
            , EQUIPMENT_CODE
            , WORKER_NUM
            , RECODE_TIME
            , IS_WEAR
            , LATITUDE
            , LONGITUDE
        FROM WEAR_LOG
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="com.shms.wearlog.service.WearLog">
        INSERT INTO WEAR_LOG (
            CODE
            , EQUIPMENT_CODE
            , WORKER_NUM
            , RECODE_TIME
            , IS_WEAR
            , LATITUDE
            , LONGITUDE
        ) VALUES (
            #{code}
            , #{equipmentCode}
            , #{workerNum}
            , #{recodeTime}
            , #{isWear}
            , #{latitude}
            , #{longitude}
        )
    </insert>

    <update id="update" parameterType="com.shms.wearlog.service.WearLog">
        UPDATE WEAR_LOG
        <set>
            <if test="code != null and code != ''">
                CODE = #{code},
            </if>
            <if test="equipmentCode != null and equipmentCode != ''">
                EQUIPMENT_CODE = #{equipmentCode},
            </if>
            <if test="workerNum != null and workerNum != ''">
                WORKER_NUM = #{workerNum},
            </if>
            <if test="recodeTime != null and recodeTime != ''">
                RECODE_TIME = #{recodeTime},
            </if>
            <if test="isWear != null and isWear != ''">
                IS_WEAR = #{isWear},
            </if>
            <if test="latitude != null and latitude != ''">
                LATITUDE = #{latitude},
            </if>
            <if test="longitude != null and longitude != ''">
                LONGITUDE = #{longitude},
            </if>
        </set>
        WHERE CODE = #{code}
    </update>
    
    <delete id="delete" parameterType="com.shms.wearlog.service.WearLog">
        DELETE FROM WEAR_LOG
        <include refid="whereSql" />
    </delete>
</mapper>