<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shms.worker.service.WorkerMapper">
    <resultMap id="workerResultMap" type="com.shms.worker.service.Worker">
        <result column="WORKER_NUM" property="workerNum" />
        <result column="EMP_NUM" property="empNum" />
        <result column="NAME" property="name" />
        <result column="CARD_NUM" property="cardNum" />
        <result column="PHONE_NUM" property="phoneNum" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="THE_FST_RGST_DTTM" property="theFstRgstDttm" />
        <result column="THE_FST_RGST_USERID" property="theFstRgstUserId" />
        <result column="FNL_CHNG_DTTM" property="fnlChngDttm" />
        <result column="FNL_CHNG_USERID" property="fnlChngUserId" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="workerNum != null and workerNum != ''">
                AND WORKER_NUM = #{workerNum}
            </if>
            <if test="empNum != null and empNum != ''">
                AND EMP_NUM = #{empNum}
            </if>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="cardNum != null and cardNum != ''">
                AND CARD_NUM = #{cardNum}
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                AND PHONE_NUM = #{phoneNum}
            </if>
            <if test="isDelete != null and isDelete != ''">
                AND IS_DELETE = #{isDelete}
            </if>
        </where>
    </sql>
    
    <select id="count" parameterType="com.shms.worker.service.Worker" resultType="int">
        SELECT COUNT(*)
        FROM WORKER
        <include refid="whereSql" />
    </select>

	<select id="list" resultMap="workerResultMap">
        SELECT
            WORKER_NUM
            , EMP_NUM
            , NAME
            , CARD_NUM
            , PHONE_NUM
            , IS_DELETE
        FROM WORKER
    </select>

    <select id="select" parameterType="com.shms.worker.service.Worker" resultMap="workerResultMap">
        SELECT
            WORKER_NUM
            , EMP_NUM
            , NAME
            , CARD_NUM
            , PHONE_NUM
            , IS_DELETE
        FROM WORKER
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="com.shms.worker.service.Worker">
        INSERT INTO WORKER (
            WORKER_NUM
            , EMP_NUM
            , NAME
            , CARD_NUM
            , PHONE_NUM
        ) VALUES (
            #{workerNum}
            , #{name}
            , #{cardNum}
            , #{phoneNum}
        )
    </insert>

    <update id="update" parameterType="com.shms.worker.service.Worker">
        UPDATE WORKER
        <set>
            <if test="workerNum != null and workerNum != ''">
                WORKER_NUM = #{workerNum},
            </if>
            <if test="empNum != null and empNum != ''">
                EMP_NUM = #{empNum},
            </if>
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="cardNum != null and cardNum != ''">
                CARD_NUM = #{cardNum},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                PHONE_NUM = #{phoneNum},
            </if>
            <if test="isDelete != null and isDelete != ''">
                IS_DELETE = #{isDelete},
            </if>
        </set>
        WHERE EMP_NUMBER = #{empNumber}
    </update>
    
    <delete id="delete" parameterType="com.shms.worker.service.Worker">
        DELETE FROM WORKER
        <include refid="whereSql" />
    </delete>
</mapper>